n8n.nryzhikh.dev {
    reverse_proxy n8n:5678 {
      flush_interval -1
    }
}

nocodb.nryzhikh.dev {
    reverse_proxy nocodb:8080 {
      flush_interval -1
    }
}

adminer.nryzhikh.dev {
    reverse_proxy adminer:8080 {
      flush_interval -1
    }
}