n8n.nryzhikh.dev {
    reverse_proxy n8n:5678 {
      flush_interval -1
    }
}

nocodb.nryzhikh.dev {
    reverse_proxy nocodb:8080 {
      flush_interval -1
    }
}

rsshub.nryzhikh.dev {
    reverse_proxy rsshub:1200 {
      flush_interval -1
    }
}

adminer.nryzhikh.dev {
    basic_auth * {
        admin $$2a$$14$$IxhsUb/iF8Uwlv7qz82uCOujYce/SShL3lqGJ7r75E6J8.4I0sKdG
    }
    reverse_proxy adminer:8080
}

minio.nryzhikh.dev {
    reverse_proxy minio:9000
}

minio-console.nryzhikh.dev {
    reverse_proxy minio:9001
}

ttrss.nryzhikh.dev {
    reverse_proxy ttrss:80 {
        flush_interval -1
    }
}